<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Product</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id=""
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition Plan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="">
                <a href="{% url 'products' %}?category=nutrition_plans" class="dropdown-item">All In Nutrition</a>
                <a href="{% url 'products' %}?&q=3 Month nutrition" class="dropdown-item">3 Month Nutrtion Plan</a>
                <a href="{% url 'products' %}?q=6 Month nutrition" class="dropdown-item">6 Month Nutrition Plan</a>
                <a href="{% url 'products' %}?q=1 Year nutrition" class="dropdown-item">1 Year Nutrtion plan</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'products' %}?category=gym_plans" id=""
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fitness Plan
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="">
                <a href="{% url 'products' %}?category=gym_plans" class="dropdown-item">All In Fitness</a>
                <a href="{% url 'products' %}?q=3 Month gym" class="dropdown-item">3 Month Fitness Plan</a>
                <a href="{% url 'products' %}?q=6 Month gym" class="dropdown-item">6 Month Fitness Plan</a>
                <a href="{% url 'products' %}?q=1 year gym" class="dropdown-item">1 Year Fitness Plan</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="{% url 'products' %}?category=merch" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Merchandise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=merch" class="dropdown-item">All In Merchandise</a>
                <a href="{% url 'products' %}?q=Hoodie" class="dropdown-item">Smart Gym Hoodie</a>
                <a href="{% url 'products' %}?q=T-Shirt" class="dropdown-item">Smart Gym T-Shirt</a>
                <a href="{% url 'products' %}?q=Smartgym shorts" class="dropdown-item">Smart Gym Shorts</a>
                <a href="{% url 'products' %}?q=Smartgym Joggers" class="dropdown-item">Smart Gym Joggers</a>
            </div>
        </li>
    </ul>
</div>